.App {
  /* text-align: center; */
  overflow-x: hidden;
}

/* width */
*::-webkit-scrollbar {
  width: 5px;
}
 
/* Handle */
*::-webkit-scrollbar-thumb {
  background: rgb(173, 173, 173, 0.5); 
  border-radius: 50px;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgb(173, 173, 173, 1); 
}

@font-face {
  font-family: retro-gaming;
  src: url(./retro-gaming.ttf);
}
@font-face {
  font-family: upheavtt;
  src: url(./upheavtt.ttf);
}
@font-face {
  font-family: pixeled;
  src: url(./pixeled.ttf);
}

.ether{
  font-family: nasalization-rg;
}

.discordBtn{
  cursor: pointer;
  display: block;
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
}

.logo{
  width:40px;
}

p {
  font-family: retro-gaming;
  font-size: 2rem;
  letter-spacing: 2px;
  color: #2E3192 !important;
}

.justify{
  text-align: justify;
}

.center{
  text-align: center;
}

h1, h2, h3, h5, h4{
  font-family: upheavtt;
  /* font-weight: bold !important; */
  /* font-stretch: condensed; */
  color: #2E3192 !important;
}

h4{
  font-family: upheavtt;
  /* font-weight: bold !important; */
  /* font-stretch: condensed; */
  color: #2E3192 !important;
}

.icon{
  margin-right: 1rem;
  color: #2E3192 !important;
  cursor: pointer;
}

.icon:hover{
  color: #D3D3D3 !important;
}

html { 
  background: url(hero.png) no-repeat fixed;
  background-size: cover;
  width: 100%; 
  scroll-behavior: smooth;
  /* background-size: 50vw; */
  /* background-position: -80%; */
  background-color: white !important;
  overflow-x: hidden;
}


.blankSection {
  align-items: center;
  height: 20vh;
}

.section{
  margin-top: 10vh;
  /* background-position: -80%; */
}

.verticalAlignText{
  margin-bottom: 3rem;
  display: contents;
  vertical-align: middle;
  text-align: justify;
}

body{
  background-color: transparent !important;
}

.fp-tableCell {
  display: block !important;
}

.ant-anchor{
  position: unset !important;
  padding-left: 0px !important;
}

.ant-anchor-link{
  font-family: pixeled !important;
  /* font-weight: bold !important; */
  font-stretch: condensed !important;
  font-size: 1.5rem;
  cursor: "pointer";
  padding: 1rem 0 1rem 0px !important;
}

.ant-drawer-mask{
  position: absolute;
  /* top: 0px; */
  /* left: 0px; */
  /* width: 100%; */
  height: 0px;
  background-color: rgba(0, 0, 0, 0) !important;
  /* opacity: 0 !important;
  transition: opacity 0.3s linear 0s, height 0s ease 0.3s;
  pointer-events: none; */
}

.scalable-image{
  display: block;
  width: auto;
  height: auto;
  max-width: 100px;
  max-height: 100px;
  /* margin: 20px auto; */
}

.scalable-roadmap-image{
  display: block;
  width: 400px !important;
  height: 275px !important;
  padding-right: 3px !important;
  /* padding-right: 20px; */
  /* margin: 20px auto; */
}

.scalable-phila-image{
  display: block;
  width: 300px !important;
  height: 300px  !important;
  padding-right: 3px !important;

  /* padding-right: 20px; */
  /* margin: 20px auto; */
}

.navLink{
  font-size: 1.5rem;
  font-family: pixeled !important;
  margin: 0 1rem 0 1rem;
  cursor: pointer;
  vertical-align: super;
}

.navLink > a, .navLink > a:hover {
  color: #2E3192;
  text-decoration: none;
}

.navIcon{
  margin-right: 1.5rem;
  color: #2E3192 !important;
  cursor: pointer;
  font-size:40px;
}

.icon:hover, .openseaIcon:hover, .navLink:hover, .footerIcon:hover, .navIcon:hover, a > h1:hover, .openseaBadge:hover{
  opacity: 0.8;
}

a > h1:hover{
  opacity: 0.5;
}

.footerIcon{
  margin-right: 2rem;
  color: #2E3192 !important;
  cursor: pointer;
  font-size:40px;
}

.openseaIcon {
  width: 40px !important;
  margin-right: 1rem;
}

.container {
  position: relative;
  text-align: center;
  color: #2E3192;
}

/* Centered text */
.centered {
  position: absolute;
  top: 76%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inputMint{
  width: 10rem !important;
  height: 100px !important;
  border: none !important;
  vertical-align: text-bottom !important;
  color: #2E3192 !important;
  background-color: white !important;
  font-size: 5rem !important;
}

.mintBtn{
  border-radius: 10 !important;
  background-color: black !important;
  padding: 5px;
  width: 150px !important;
  height: 60px !important;
  font-size: 2rem !important;
  border: none !important;
}

.teamName{
  text-align: center;
}

.subtitle{
  font-size: 3rem;
}

.title{
  font-size: 5rem;
  margin: auto;
  width: 100%;
}

.headerIcon{
  width: 15rem !important;
}

.collab{
  width: 50rem !important;
  /* border-radius: 50px; */
}

.openseaBadge{
  width:220px; 
  border-radius:5px; 
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 900px) {

  .subtitle{
    font-size: 2em;
  }
  
  .title{
    font-size: 3rem;
    text-align: "left";
  }

  .scalable-image{
    display: block;
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    /* margin: 20px auto; */
  }

  p {
    font-size: 2rem;
  }

  html {
    width: 0;
    overflow-x: hidden;
  }

  .scalable-image{
    max-width: 100px;
    max-height: 100px;
    /* margin: 20px auto; */
  }

  .inputMint{
    width: 5rem !important;
    height: 100px !important;
    border: none !important;
    vertical-align: text-bottom !important;
    color: #2E3192 !important;
    background-color: black !important;
    font-size: 3rem !important;
  }

  .mintBtn{
    height: 80px !important;
    
  }
  .mint h1, .mint h2, .mint span{
    font-size: 3rem !important
  }

  .scalable-phila-image{
    width: 120px !important;
    height: 120px  !important;
  }

  .navLink{
    /* margin: 0 0.5rem 0 0rem;
    font-size: 1rem; */
    display: none;
  }

  .navIcon{
    font-size:40px;
    margin-right: 0.5rem;
  }
  .openseaIcon {
    width: 40px !important;
    /* margin-right: 0.2rem; */
  }

  .sneakpeek{
    width: 90vw !important;
  }
}